.map-container-2 {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.google_map {
  width: 1140px;
  height: 500px;
  position: absolute;
  margin-left: 104px;
  top: 350px;
}

.contact_content {
  position: absolute;
  top: 900px;
  width: 1150px;
  margin-left: 100px;
  height: 500px;
}

.contact_content_1 {
  width: 50%;
  height: 500px;
  position: relative;
  float: left;
}

.contact_content_1 h2 {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
}

.contact_content_1 h2:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
}

h2:after {
  position: absolute;
  right: auto;
  bottom: -1px;
  display: block;
  width: 125px;
  height: 4px;
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.icon-row {
  display: table;
  margin-bottom: 30px;
}

.contact .icon-row .col {
  vertical-align: middle;
}

.icon-row .col:first-of-type {
  padding-right: 25px;
}

.icon-row .col {
  display: table-cell;
}

.contact .icon-row span {
  width: 100px;
  height: 100px;
}

.icon-row span {
  display: block;
  width: 75px;
  height: 75px;
  text-align: center;
  border: solid 2px #d8d8d8;
  border-radius: 50%;
}

.contact .icon-row span i {
  font-size: 46px;
}

.icon-row span i {
  font-size: 32px;
  position: relative;
  top: 50%;
  max-width: 46px;
  transform: translateY(-50%);
  color: #ec7532;
}

i.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.icon-row h4 {
  margin-bottom: 5px;
  padding-bottom: 0;
  color: #4a4a4a;
  border: none;
}

.cta p {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.cta p:last-of-type {
  margin-bottom: 0;
}

.cta .gradient-text {
  font-size: 46px;
  font-weight: 400;
  color: #ec7532;
}

footer {
  width: 100%;
  height: 350px;
  color: #fff;
  background: #101010;
  position: absolute;
  top: 1700px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
  }
}
.col-sm-3 {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

footer * {
  font-size: 14px;
  font-weight: 500;
}

.container:before, .row:before {
  display: table;
  content: " ";
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

footer div[class^=col] {
  position: relative;
}

footer h6 {
  font-size: 16px;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ec7532;
  border: none;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

footer ul li a, footer ul li a:active, footer ul li a:visited {
  font-size: 13px;
  display: inline-block;
  padding: 3px 0;
  letter-spacing: 1.5px;
  color: #fff;
}

footer p:last-child {
  margin-bottom: 0;
}

footer p {
  margin: 0 0 20px;
}

footer .copyright {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 739px) {
  .google_map, .contact_content {
    width: 90%;
    position: absolute;
    display: flex;
    margin-left: 5%;
  }

  .contact_content {
    width: 70%;
    position: absolute;
    margin-left: 10%;
  }

  .col-sm-5 {
    display: none;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .google_map, .contact_content {
    width: 90%;
    position: absolute;
    display: flex;
    margin-left: 5%;
  }

  .contact_content {
    width: 70%;
    position: absolute;
    margin-left: 10%;
  }

  .col-sm-5 {
    display: none;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }
}

/*# sourceMappingURL=contact.css.map */
